@font-face {
    font-family: "NerkoOne";
    font-display: swap;
    src: url("../assets/fonts/NerkoOne-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "BalsamiqSans";
    font-display: swap;
    src: url("../assets/fonts/BalsamiqSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
