.card {
  &__flipped {
    width: 280px;
    height: 240px;
    position: relative;
    perspective: 1000px;
    overflow: hidden;

    &-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }

    &.rotated {
      .card__flipped-inner {
        transform: rotateY(180deg);
      }

      .card__flipped__button {
        visibility: hidden;
      }
    }

    &-front,
    &-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    &-front {
      color: black;
    }

    &-back {
      color: white;
      transform: rotateY(180deg);
    }

    &.disabled {
      cursor: default !important;
      background: initial;
      filter: blur(5px) opacity(45%);

      &:hover {
        transform:none;
      }
    }

    &__button {
      width: 50px;
      height: 50px;
      border-radius: 15px;
      box-shadow: 0 1px 1px #000000, 1px 1px 0 #cfcaca inset;
      background: rgba(144, 144, 144, 0.6);
      margin: 0;
      transition: box-shadow .2s ease, transform .5s ease, margin-top .2s ease;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:focus {
        outline: 0;
      }

      &-img {
        width: 70%;
        transform: scale(1, 1);
        fill: hsl(354, 73%, 55%);
      }

      &:hover {
        transform: scale(1.1, 1.1);
        box-shadow: 0 0 10px #000000, 1px 1px 150px #ff9800 inset;

        &-img {
          transform: scale(1.1, 1.1);
          fill: hsl(354, 73%, 55%);
          transition: transform .2s ease, fill .2s ease;
        }
      }

      &:active {
        box-shadow: 0 1px 1px #000000, 1px 1px 0 #cfcaca inset;

        &-img {
          fill: hsl(30, 20%, 98%);
        }
      }
    }
  }
}